@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-swiss911: "Swiss911CompressedRegular", sans-serif;
  --font-optispire: "OPTISpire", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-swiss911);
  --font-mono: var(--font-optispire);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-swiss911), var(--font-optispire), sans-serif;
}
